SUBSYSTEM=="block", PROGRAM="/bin/sh -c 'if d=\"$$(/usr/bin/basename -- \"%p\" | /usr/bin/sed -E '\"'\"'s/[0-9]+$$//'\"'\"')\" && f=/sys/block/\"$$d\"/removable && [ -r \"$$f\" ]; then /usr/bin/cat -- \"$$f\"; else echo 0; fi'", RESULT=="1", GROUP="storage"
